html,
canvas {
  display: block;
  color: black;
}

body {
  margin: 10;
  padding: 10;
  font-size: 12px;
}
div.sticky {
  position: -webkit-sticky;
  position: sticky;
  width: 200px;
  height: 500px;
  top: 0;
  left: -200;
  background-color: rgb(167, 225, 225);
  padding: 10px;
  font-size: 12px;
}
